body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style-type: none;
}

.navbar{
  width: 100%;
  height: 60px;
  background-color:  #0B142C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  color: white;
  z-index: 100;
  border-bottom: 1px solid  #B2B492;
}

.navbar.scrolled{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  color: black;
}

.navbar.scrolled li{
  color: black;
}

.navbar.scrolled .mobile-menu{
  color: black;
}

 .nav-link {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 250px;
   padding: 10px;
   gap: 40px;
}

.nav-link > li{
  color: white;
  margin: 0px 10px;
  cursor: pointer;
}

.nav-link > li:hover{
  text-decoration: underline;
}

.mobile-menu{
  margin-right: 20px;
  display: none;
}




@media screen and (max-width:650px) {     
  .nav-link{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateX(-102%);
    transition: transform 0.3s ease-in-out;
    background-color: white;
    /* background-color:rgb(16, 16, 16); */
    padding:  2px 0px;
  }
  
  .nav-link.mobile-link.active{
    transform: translate(0%);
  }

  .nav-link > li{
    margin-top: 10px;
    color: black;
  }
    .mobile-menu{
      display: block;
      margin-right: 40px
    }

    .wrapper{
      margin-right: 140px;
    }
}

@media screen and (max-width:768px) {
  .navbar-container{
    width: 100%;
  }
  
}
  


@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #A09875;
	font-size: 20px;
}
@keyframes stroke {
	0%   {
		fill: rgba(237,237,237,0); stroke: rgba(160,152,117,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(237,237,237,0); stroke: rgba(160,152,117,1); }
	80%  {fill: rgba(237,237,237,0); stroke: rgba(160,152,117,1); stroke-width: 3; }
	100% {
		fill: rgba(237,237,237,1); stroke: rgba(160,152,117,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}




#home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home-container1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #0B142C;
  position: relative;
}

.home-container2{
  width: 65%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  /* background-color: white; */
}

.home-container3{
  width: 100%;
  height: 700px;
  background-color: #B2B492;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 16% 52%, 2% 0);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 16% 52%, 2% 0); 
}



.home-container3 > img{
  width: 100%;
  height:50%;
}


.home-mother{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.home-container2 > h1{
  font-size: 35px;
  margin: 70px 0px;
}


.home-button{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  /* background-color: red; */
}

.home-button > a{
  padding: 11px ;
  background-color: #B2B492;
  text-decoration: none;
  color: white;
  font-weight: bold; 
  cursor: pointer;
}


 .home-button > button{
  padding: 11px 20px;
  margin: 10px 0px;
  background: transparent;
  outline: none;
  border: 1px solid #B2B492 ;
  cursor: pointer;
  color:white;
  border-radius: 4px;
}

.home-button > button:hover{
  background-color:  #B2B492;
}



.homeslider-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}


.home-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-slider > h4{
  color: #B2B492;
}

.home-slider > h1{
  font-size: 2.4rem;
  font-weight: bold;
}

.home-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-slider > h1 > span{
  color: #B2B492;
}

.home-slider > h1{
  color:white;
  font-size: 2.2rem;
}

@media screen and (max-width:768px) {

  .home-mother{
    padding: 10px;
  }

   
  .home-container2{
    width: 100%;
    height: 600px;
  }

  .home-container3 > img{
    width: 100%;
    height:20%
  }
}


@media screen and (max-width:650px) {
  #home{
    height: fit-content;
  }
  
  .home-container1{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  
  .home-container2{
    width: 100%;
    height: 200px;
  }

  .home-container3{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    
  }

  .home-container3 > img{
    width: 90%;
    height:40%
  }

  .home-slider > h4{
    color: white;
  }


  .home-mother{
    padding: 10px;
  }


  .home-slide{
    width: 100%;
  }


  .homeslider-container{
    width: 100%;
    padding: 0px 10px;
  }
  
  .home-image{
    margin-top: 100px;
    
  }

  .home-slider{
    width: 100%;
  }

  .home-slider > h1{
    color: white;
    font-size: 25px;
  }

  .home-slider > h4 > span{
    color: #B2B492;
  }


  .home-button{
    width: 100%;
  }

   .button-link > button{
    padding: 5px 20px;
  }

  .home-button > button{
    padding: 10px 20px;
  }

  .homeclient-con{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

   .client-box{
    width: 100%;
    max-height: 100px;
  }
  .client-innerbox{
    width: 100%;
  }

}


 .homeclient-con{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: whitesmoke;
  padding: 0px 40px;
}

.homeclient-con > .client-box{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.client-box > .client-circle{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#B2B492 ;
}

.client-circle >.fa-solid{
  color: white;
  font-size: 40px;
}

.client-box > .client-innerbox{
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}

.client-innerbox > h3{
  color: #B2B492;
  font-size: 15px;
} 



#about{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-box1{
  width: 45%;
  height:750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.ibb.co/GtpgV6R/Whats-App-Image-2023-11-29-at-23-44-21-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-box2{
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-box2 > h4{
  color:#B2B492 ;
  margin: 10px 0px;
}

.about-box2 > h1{
  margin: 10px 0px;
  font-size: 2.8rem;
}

.about-box2 > p{
  color: gray;
  line-height: 25px;
}

.address-box3{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;  
}

.address-box3 > h3 > span{
  color:#B2B492;
}

.address-box3 > h3 > .fa-solid{
  margin: 0px 8px;
  color: grey;
}

.address-box3 > h3 > a{
  color:#B2B492 ;
  text-decoration: none;
}

.address-box4{
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px; 
}

 .box4-inner{
   width: 98%;
   height: 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.box4-inner  > .hobby-box{
  width: 2px;
  height: 40px;
  border: 1px solid #B2B492;
}


.box4-inner > .hobby-circle{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #B2B492;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4-inner > .hobby-circle:hover{
  background-color: #ccceb0 ;
}

.box4-inner > .hobby-circle:hover .fa-solid{
  color: white;
}
.box4-inner > .hobby-circle:hover .fa-brands{
  color: white;
}




@media screen and (max-width:650px) {
  #about{
    height: fit-content;
  }
  
  .about-container{
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 0px 10px;
  
  }

  .about-box1{
    width: 98%;
  }
  
  .about-box2{
    width: 100%;
    padding: 0px 10px;
  }

  .address-box3{
    width: 100%;
  }

  .address-box3 > h3{
    font-size: 11.5px;
  }

  .address-box4{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .address-box4 > .box4-inner{
    width: 95%;
  }

  .address-box4 > .box4-inner >h3{
    font-size: 13px;
  }
}

@media screen and (max-width:768px) {
  .about-box2{
    padding-left: 10px;
  }
  .address-box4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  
}



#skill{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #19202B; */
  background-color:  #0B142C;
  margin: 20px 0px;
  color: white;
  flex-direction: column;
}

#skill > h4{
  font-size: 2rem;
}

.skill-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 15px;
  row-gap: 25px;
  margin: 0px auto;
}

.skill-container > .skill-box1{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #E34E25;;
  border-right: 1px solid  #E34E25;;
  border-bottom: 4px solid  #E34E25;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.skill-box1:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}

 .skill-box1 > .skill-card > img{
  width: 70px;
  height: 70px;
}

.skill-container > .skill-box2{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #0277BD;
  border-right: 1px solid #0277BD;;
  border-bottom: 4px solid #0277BD;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-box2:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}
 .skill-box2 > .skill-card > img{
  width: 70px;
  height: 70px;
}

.skill-container > .skill-box3{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #FED602;
  border-right: 1px solid #FED602;
  border-bottom: 4px solid #FED602;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-box3:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}

 .skill-box3 > .skill-card > img{
  width: 70px;
  height: 70px;
}

.skill-container > .skill-box4{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #61DAFB;
  border-right: 1px solid #61DAFB;
  border-bottom: 4px solid #61DAFB;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-box4:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}

 .skill-box4 > .skill-card > img{
  width: 70px;
  height: 70px;
}

.skill-container > .skill-box5{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #FBA40F;
  border-right: 1px solid #FBA40F;
  border-bottom: 4px solid #FBA40F;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-box5:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}

 .skill-box5 > .skill-card > img{
  width: 70px;
  height: 70px;
}

.skill-container > .skill-box6{
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-left: 1px solid  #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 4px solid #EEEEEE;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skill-box6:hover .skill-card{
  scale: 1.3;
  transition: 0.3s ease-in-out;
}


 .skill-box6 > .skill-card > img{
  width: 70px;
  height: 70px;
}

@media screen and (max-width:768px) {
  .skill-container{
    width: 100%;
    padding: 0px 10px;
  }
}

@media screen and (max-width:650px) {
  .skill-container{
    width: 100%;
    display: grid;
    padding: 0px 20px;
    grid-template-columns: repeat(2, 3fr);
  }  

  #skill > h1{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0px;
  }
}
  


#service{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.service-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin: 0px auto;
  row-gap: 10px;
  padding: 5px;
}

.service-box{
  width: 95%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  position: relative;
  padding:0px 5px 0px 20px;
  margin: 25px 0px;
  flex-direction: column;
  border-radius: 5px;
  gap: 15px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 10px lightgray;
}

.service-box:hover{
  background-color: #B2B492;
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
}


.service-box > h3{
  transition: 0.3s ease-in-out;
}

.service-box:hover h3{
  color: white;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}
.service-box:hover p{
  color: white;
}

.service-box:hover .service-circle{
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(60px);
}

.service-box:hover .fa-solid{
  color: #B2B492;
}


.service-circle{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color:  #B2B492;
  position: absolute;
  top: -20%;
  transition: 0.3s ease-in-out;
}

.service-circle > .fa-solid{
  color: white;
  font-size: 35px;
}

#service > h1{
  margin: 30px 0px;
}

#service > h4{
    color: #B2B492 ;
}

@media screen and (max-width:650px) {
  #service{
    width: 100%;
    height: fit-content;
  }

  #service > h1{
    font-size: 1.0rem;
  }
  .service-container{
    width: 100%;
    display: grid;
    padding: 0px 15px;
    grid-template-columns: repeat(1, 6fr);
  }

  .service-box{
    width: 100%;
  }
  
}

@media screen and (max-width:768px) {
  .service-container{
    width: 100%;
  }
  
}


#portfolio{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.portfolio-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 0px;
}

.project-container > a{
  text-decoration: none;
  color: #0B142C;
}

.portfolio-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-box > h4{
  color: #B2B492;
  margin-top:60px  ;
}

.portfolio-box > h2{
  font-size: 50px;
}

.card-info{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 10px;
  box-shadow: 2px 2px 15px 2px lightgray ;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.card-info:hover{
  transform: translateY(-10px);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 10px 10px lightgray;
}

.card-info > img{
  width: 100%;
  height: 100%;
}

.card-info > h4{
  color: #B2B492;
}

@media screen and (max-width:768px) {
  #portfolio{
    width: 100%;
    height: fit-content;
  }

  .portfolio-container{
    width: 100%;
  }

  .project-container{
    width: 100%;
  }

  .portfolio-box{
    width: 98%;
  }
}


@media screen and (max-width:650px) {
  #portfolio {
    height: fit-content;
  }

  .portfolio-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    padding: 0px 10px;
  }  

  .project-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .portfolio-box{
    width: 98%;
  }

  .portfolio-box > h2{
    font-size: 2.0rem;
  }
}


.testimonial-container{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  #B2B492;
  margin: 0px auto;
}

.testimonial-container > h4{
  color: whitesmoke;
  margin-top: 50px ;
}

.testimonial-container > h1{
  color: white;
  margin: 20px 0px;
  font-size: 50px;
}


.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
  padding: 0px 100px;
  gap: 10px;
}


.slider {
  max-width: 400px;
  min-height: 200px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  padding:40px 20px ;
}

.slide {
  width: 100%;
  height: fit-content;
  padding: 20px 0px;
  /* background-color: red; */
}

.slider-box1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 10px 0px;
  /* background-color: red; */
}

.slider-box1 > .fa-solid{
  color:#B2B492 ;
  font-size: 40px;
  margin-bottom: 80px;
}

.slider-box2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.slider-tag{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider > .slider-box2 > img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  margin: 10px auto;
}

.slider > .slider-box1 > p {
  padding: 5px 10px;
  color: grey;
  line-height: 1.5;
  text-align:left;
}

.slider > h4 {
  padding: 10px;
  color: rgb(70, 70, 228);
}

.slider-box2 > .slider-tag > h3 {
  margin: 8px 0px;
  color: grey;
}


.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  width: 7px;
  height: 7px;
  background-color:grey;
  border-radius: 50%;
  /* border: 1px solid blue; */
}

.slick-dots li.slick-active button {
  background-color:white;
}


@media screen and (max-width:650px) {
  .slider-container{
    width: 100%;
    padding: 0px 10px;
  }

  .slide{
    width: 100%;
  }

  .testimonial-container > h1{
    font-size: 1.6rem;
  }

  .slider-box1 > .fa-solid{
    margin-bottom: 120px;
  }

  .slider-box2 > .slider-tag > h3{
    font-size: 12px;
  }
}



@media screen and (max-width:768px) {
  .testimonial-container{
    width: 100%;
    height: fit-content;
    padding: 0px 10px;
   
  }

  .slider-container{
    width: 100%;
    padding: 10px;
  }

  .slide{
    width: 100%;
  }


  .slider-box1 > .fa-solid{
    margin-bottom: 180px;
  }

 
}


#contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;

}
.contact-mother{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
  /* background-color: red; */
}

.formaddress-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; 
  /* background-color: orange;  */
}

.contact-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: green; */
  margin-top: 40px;
}


.contact-container > h3{
  color: #B2B492;
  margin-top: 20px;
}

.form-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  /* background-color: red; */
}


.form-container > form{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}


.contact-container > h2{
  font-size: 55px;
}

form > h2{
    margin: 15px 0px;
}

.form-container > form > .input-combine{
   width: 97%;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.form-container > form > .input-combine >input{
  width: 50%;
  height: 45px;
  border: 2.2px solid #B2B492;
  outline: none;
  margin: 8px 0px;
  padding-left: 10px;
}

.form-container > form > input{
  width: 97%;
  height: 45px;
  border: 2.2px solid #B2B492;
  outline: none;
  margin: 8px 0px;
  padding-left: 10px;
}

.form-container > form > textarea{
  width: 97%;
  height: 100px;
  border: 2.2px solid #B2B492;
  outline: none;
  margin: 8px 0px;
  padding-left: 10px;
  padding-top: 15px;
}

 .button-box{
  width: 97%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0px;

}

.button-box > button{
  padding: 15px 45px;
  margin: 8px 0px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  background-color:#B2B492 ;
  cursor: pointer;
}

.form-container > form > .button-box > button:hover{
  background-color:#7f8067;
}


.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}


.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}


.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  background: #B2B492;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation:s5 1s infinite ;
}
@keyframes s5 {to{transform: rotate(.5turn)}}


@media screen and (max-width:650px) {
  #contact {
    height: fit-content;
    padding: 0px 5px;
  }
.contact-mother{
  width: 100%;
}

.formaddress-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container{
  width: 100%;
}

.contact-container > h1{
  font-size: 2.3rem;
}

.address-container{
  width: 100%;
  height: fit-content;
}

.address-box{
  border-bottom: 1px solid #B2B492;
  width: 100%;
}

.address-box > .contact-fontbox{
  width: 50px;
  height: 50px;
}

.address-box > p{
  font-size: 15px;
}
  
}

@media screen and (max-width:768px) {
    #contact{
      width: 100%;
      height: fit-content;
    }  
}

#footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(7, 6, 6, 0.792); */
  /* background-color:  #19202B; */
  background-color:  #0B142C;
  color: white;
  max-height: 300px;
}

.footer-mother{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
  gap: 20px;
}


.footer-mother > .footer-box{
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-box > .foot-link{
  border: 1px solid #B2B492;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.footer-box > .foot-link:hover{
  background-color: #B2B492;
  color: black;
}
.footer-box > .foot-link:hover .fa-brands{
  color: black;
}

.footer-box > .foot-link > .fa-brands{
  color:#B2B492;
  font-size: 20px;
}


.footer-box > h2{
  margin: 20px 0px;
}

.footer-box > .footer-link{
  margin: 8px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.footer-link > h3{
  color: whitesmoke;
}

.talk-card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: talk 0.5s ease-in-out alternate infinite;
}

.talk-card > .talk{
  padding: 5px ;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes talk {
  0%{
    scale: 1.1;
  }

  100%{
    scale: 1;
  }
}


@media screen and (max-width:650px) {
  .footer-mother{
    width: 100%;
    padding: 15px 10px;
  }

}



.social-container {
  width: 2%;
  top: 30vh;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  left: 0;
  /* background-color: red; */
}

.social-box1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(-70%);
  box-shadow: 0px 0px 0.5px;
}


.social-box1:hover{
  transform: translateX(5px);
}

.social-box1 > a{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.social-box1 > a > .fa-brands{
margin-left: 5px;
}

.social-box1 > a > h3{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-bottom: 3px solid blue;
}


.social-box2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(-70%);
  box-shadow: 0px 0px 0.5px;
}


.social-box2:hover{
  transform: translateX(5px);
}

.social-box2 > a{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.social-box2 > a > .fa-brands{
margin-left: 5px;
}

.social-box2 > a > h3{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-bottom: 3px solid green;
}


.social-box3{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(-70%);
  box-shadow: 0px 0px 0.5px;
}


.social-box3:hover{
  transform: translateX(5px);
}

.social-box3 > a{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.social-box3 > a > .fa-brands{
margin-left: 5px;
}

.social-box3 > a > h3{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-bottom: 3px solid skyblue;
}


.social-box4{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(-70%);
  box-shadow: 0px 0px 0.5px;
}


.social-box4:hover{
  transform: translateX(5px);
}

.social-box4 > a{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.social-box4 > a > .fa-brands{
margin-left: 5px;
}

.social-box4 > a > h3{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-bottom: 3px solid rgba(13, 80, 236, 0.866);
}

.social-box5{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: translateX(-70%);
  box-shadow: 0px 0px 0.5px;
}


.social-box5:hover{
  transform: translateX(5px);
}

.social-box5 > a{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.social-box5 > a > .fa-brands{
margin-left: 5px;
}

.social-box5 > a > h3{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  border-bottom: 3px solid black;
}


.scroll-to-top{
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color:#B2B492;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover{
  background-color: white;
  color:black;
  box-shadow: 2px 2px 2px lightgray;
}